# Dica -> usar git commit -am sempre que os arquivos modificados já forem rastreados
# Dica -> usear git add . e git commit -m sempre que arquiivos novos ou ainda não rastreados estiverem presentes

# Arquivo oculto do vscode
.vscode

# Arquivo oculto de controle do MacOs usado pelo Finder -> armazena informações de e preferências de visualização
.DS_Store

# Ignorando diretórios de apoio LAB_ARQ, LAB_IMA, LAB_REF e LEGADO
LAB_ARQ/
LAB_IMA/
LAB_REF/
LEGADO/

# Ignorando o diretório TESTES
TESTES/
