# Dica -> usar git commit -am sempre que os arquivos modificados já forem rastreados
# Dica -> usar git add . e git commit -m sempre que arquiivos novos ou ainda não rastreados estiverem presentes
# Dica -> gerando o arquivo requirements.txt -> pip freeeze > requirements.txt
# Dica -> reproduzindo o ambiente virtual -> pip install -r requirements.txt

# Arquivo oculto do vscode
.vscode

# Arquivo oculto de controle do MacOs usado pelo Finder -> armazena informações de e preferências de visualização
.DS_Store

# Ignorando diretórios de apoio LAB_ARQ, LAB_IMA, LAB_REF e LEGADO
LAB_ARQ/
LAB_IMA/
LAB_REF/
LEGADO/

# Ignorando o diretório TESTES
TESTES/

# Ignorando o arquivo FINANCAS.docx
O_PROJETO/FINANCAS.docx
